/* main elements */
.mainContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* description elements */
.main div.description h1.title {
    margin: 0.2em 0;
}
.main div.description h3.title {
    margin: 0.3em 0;
    text-align: center;
}
.main div.description {
    min-width: 50vw;
    width: 100%;
    max-width: 70vw;
}

/* jot area */
.main div.jotArea {
    background-color: var(--color-jotArea-bg);
    color: var(--color-jotArea-txt);

    margin: 1em 0;

    border: 0.3em solid transparent;
    border-radius: 0.6em;

    transition: border 0.1s ease-in-out;
}
.main div.jotArea:focus-within {
    border: 0.3em solid var(--color-jotArea-focused);
}
.main div.jotArea:focus-within textarea {
    color: var(--color-jotArea-txt-active);
}
.main div.jotArea textarea::placeholder {
    color: var(--color-jotArea-placeholder);
}
.main div.jotArea textarea {
    background-color: transparent;
    color: inherit;

    padding: 0.3em;

    min-width: 50vw;
    min-height: 20vw;
    width: 500px;
    height: 300px;
    max-width: 70vw;
    max-height: 70vh;

    font-family: var(--font-mono);

    border: 0.6em solid transparent;

    outline: none;

    transition: color 0.1s ease-in-out;
}

/* loading animation */
.main div.description div.loadingAnimation {
    display: inline-block;
    position: relative;

    width: 100%;
    height: 0.3em;

    border-radius: 0.3em;

    overflow: hidden;
}
.main div.description div.loadingAnimation div.loadAnimBar {
    display: inline-block;
    position: absolute;

    top: 0;
    left: -100%;

    background-color: var(--color-txt);

    width: inherit;
    height: inherit;

    animation-delay: 1s;
    animation-duration: 2s;
    animation-name: loadAnimBar;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    border-radius: inherit;
    transition: left 0.2s ease-in-out;
}

/* animations */
@keyframes loadAnimBar {
    0% {
        left: -100%;
    }
    25% {
        left: 0%;
    }
    50% {
        left: 100%;
    }
    75% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}
