/* nav button */
.buttonContainer {
    display: flex;
    justify-content: right;
}
.buttonContainerCentered {
    display: flex;
    justify-content: center;
}
.buttonContainer .navButton button,
.buttonContainerCentered .navButton button {
    background-color: var(--color-jotArea-txt-active);
    color: var(--color-txt);

    padding: 0.6em 0.8em;

    font-weight: 700;

    border: none;
    border-radius: 0.6em;

    text-transform: uppercase;

    transition: 0.2s ease-in-out;
}
.buttonContainer .navButton button:enabled:hover,
.buttonContainerCentered .navButton button:enabled:hover {
    background-color: var(--color-jotArea-txt);

    cursor: pointer;
}
.buttonContainer .navButton button:disabled,
.buttonContainerCentered .navButton button:disabled {
    opacity: 0.65;

    cursor: not-allowed;
}
