/* upload button */
.uploadContainer {
    display: flex;
    justify-content: right;
}
.uploadContainer .uploadButtonContainer button {
    background-color: var(--color-jotArea-txt-active);
    color: var(--color-txt);

    padding: 0.6em 0.8em;

    font-weight: 700;

    border: none;
    border-radius: 0.6em;

    text-transform: uppercase;

    transition: 0.2s ease-in-out;
}
.uploadContainer .uploadButtonContainer button:enabled:hover {
    background-color: var(--color-jotArea-txt);

    cursor: pointer;
}
.uploadContainer .uploadButtonContainer button:disabled {
    opacity: 0.65;

    cursor: not-allowed;
}

.uploadContainer .uploadedJotUrlContainer {
    margin: 0 0.3em;
}
.uploadContainer .uploadedJotUrlContainer button {
    background-color: var(--color-jotArea-txt-active);
    color: var(--color-txt);

    padding: 0.6em 0.8em;

    font-weight: 700;

    border: none;
    border-radius: 0.6em;

    text-transform: uppercase;

    transition: 0.2s ease-in-out;
}
.uploadContainer .uploadedJotUrlContainer button:enabled:hover {
    background-color: var(--color-jotArea-txt);

    cursor: pointer;
}
.uploadContainer .uploadedJotUrlContainer button:disabled {
    opacity: 0;

    cursor: default;
    pointer-events: none;
}
